body{
	background-image: url(https://png2.kisspng.com/sh/dbe2b323234e0df368656e2f7d88bfff/L0KzQYm3U8E1N5dBj5H0aYP2gLBuTfFkd6Z4jNtsLXf4ecXokr1mdJZojORyYz3qhbr7ggIue5lmiNc2Z4XshLL5TfluaZhqi595aXP3hcPsk702aZIAT9ZsZkC4dbXoWL4zOmE4UaUCM0G4QoK3VcczO2I1SqY8LoDxd1==/kisspng-acoustic-guitar-electric-guitar-shape-guitar-images-pictures-5aa97dcf05eda8.2203937315210572310243.png);
	text-align: center;
}
h1, h2, #question, #results{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}
.container {
    background-color: red;
}
.jumbotron {
    background-color: white;
}
.btn {
    background-color: red;
}